    <!DOCTYPE html>
<html lang="ko">
    <html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>GET-TOO</title>

    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="" class="nav-brand"><img src="/img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li> <span style="color:white;">Welcome,</span> <span style="color:white;" th:text="${name}"></span>! </li>
                                    <li><a href="albums-store.html">Albums</a></li>
                                    <li><a href="albums-store.html">Albums</a></li>
                                    <li><a href="albums-store.html">Albums</a></li>
                                    <li><a href="#">mypage</a>
                                        <ul class="dropdown">
                                            <li>
                                                <form action="/clientlogout" method="post">
                                                    <button class="w-100 btn btn-dark btn-lg" type="submit">
                                                        로그아웃
                                                    </button>
                                                </form>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(/img/bg-img/breadcumb3.jpg);">
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <section class="container">
        <div class="classynav" style=" margin-top: 25px; width: 100%;">
            <ul>
                <li><a href="albums-store.html">전체</a></li>
                <li><a href="albums-store.html">체육분과</a></li>
                <li><a href="albums-store.html">봉사분과</a></li>
                <li><a href="albums-store.html">문화분과</a></li>
                <li><a href="albums-store.html">교양분과</a></li>
                <li><a href="albums-store.html">종교분과</a></li>
            </ul>
        </div>
        <div class="classynav" style="text-align: end; margin-top: 25px; margin-bottom: 0px; width: 100%;">
            <ul>
                <li><a href="albums-store.html">인기순</a></li>
                <li><a href="albums-store.html">최신순</a></li>
                <li><a href="albums-store.html">모집 중</a></li>
            </ul>
        </div>
    </section>

    <!-- ##### Album Catagory Area Start ##### -->
    <section class="album-catagory section-padding-100-0">
        <div class="container">
            <div class="row">

                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-album">
                        <div class="album-thumb">
                            <img src="/img/bg-img/b1.jpg" alt="">
                            <div class="album-info">
                                <div th:if="${errorMessage}">
                                    <script th:inline="javascript">
                                        alert([[${errorMessage}]]);
                                    </script>
                                </div>
                                <a th:href="@{loginClient/writeBoard}">
                                    <h5>동아리 홍보글 작성</h5>
                                </a>
                                <p>동아리 회장만 접근 가능</p>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-album">
                        <div class="album-thumb">
                            <img src="/img/bg-img/b2.jpg" alt="">
                            <div class="album-info">
                                <a href="board/showlist">
                                    <h5>홍보글보기</h5>
                                </a>
                                <p>Underground</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-album">
                        <div class="album-thumb">
                            <img src="/img/bg-img/b3.jpg" alt="">
                            <div class="album-info">
                                <a href="/loginClinet/free_board.html">
                                    <h5>Sam Smith</h5>
                                </a>
                                <p>Underground</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-album-area">
                        <div class="single-album">
                            <img src="/img/bg-img/b4.jpg" alt="">
                            <div class="album-info">
                                <a href="#">
                                    <h5>Sam Smith</h5>
                                </a>
                                <p>Underground</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Album Catagory Area End ##### -->

    <!-- ##### Buy Now Area Start ##### -->
    <div class="oneMusic-buy-now-area mb-100">
        <div class="container">
            <div class="row">

                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-album">
                        <div class="album-thumb">
                            <img src="/img/bg-img/b1.jpg" alt="">
                            <div class="album-info">
                                <a href="#">
                                    <h5>Sam Smith</h5>
                                </a>
                                <p>Underground</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-album">
                        <div class="album-thumb">
                            <img src="/img/bg-img/b2.jpg" alt="">
                            <div class="album-info">
                                <a href="#">
                                    <h5>Sam Smith</h5>
                                </a>
                                <p>Underground</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-album">
                        <div class="album-thumb">
                            <img src="/img/bg-img/b3.jpg" alt="">
                            <div class="album-info">
                                <a href="#">
                                    <h5>Sam Smith</h5>
                                </a>
                                <p>Underground</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-album-area">
                        <div class="single-album">
                            <img src="/img/bg-img/b4.jpg" alt="">
                            <div class="album-info">
                                <a href="#">
                                    <h5>Sam Smith</h5>
                                </a>
                                <p>Underground</p>
                            </div>
                        </div>
                    </div>
                </div>

                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-3" style="display: none;">
                        <div class="single-album">
                            <div class="album-thumb">
                                <img src="/img/bg-img/b1.jpg" alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>Sam Smith</h5>
                                    </a>
                                    <p>Underground</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-3" style="display: none;">
                        <div class="single-album">
                            <div class="album-thumb">
                                <img src="/img/bg-img/b2.jpg" alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>Sam Smith</h5>
                                    </a>
                                    <p>Underground</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-3" style="display: none;">
                        <div class="single-album">
                            <div class="album-thumb">
                                <img src="/img/bg-img/b3.jpg" alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>Sam Smith</h5>
                                    </a>
                                    <p>Underground</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-3" style="display: none;">
                        <div class="single-album-area">
                            <div class="single-album">
                                <img src="/img/bg-img/b4.jpg" alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>Sam Smith</h5>
                                    </a>
                                    <p>Underground</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-3" style="display: none;">
                        <div class="single-album">
                            <div class="album-thumb">
                                <img src="/img/bg-img/b1.jpg" alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>Sam Smith</h5>
                                    </a>
                                    <p>Underground</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-3" style="display: none;">
                        <div class="single-album">
                            <div class="album-thumb">
                                <img src="/img/bg-img/b2.jpg" alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>Sam Smith</h5>
                                    </a>
                                    <p>Underground</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-3" style="display: none;">
                        <div class="single-album">
                            <div class="album-thumb">
                                <img src="/img/bg-img/b3.jpg" alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>Sam Smith</h5>
                                    </a>
                                    <p>Underground</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-3" style="display: none;">
                        <div class="single-album-area">
                            <div class="single-album">
                                <img src="/img/bg-img/b4.jpg" alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>Sam Smith</h5>
                                    </a>
                                    <p>Underground</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-3" style="display: none;">
                        <div class="single-album">
                            <div class="album-thumb">
                                <img src="/img/bg-img/b1.jpg" alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>Sam Smith</h5>
                                    </a>
                                    <p>Underground</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-3" style="display: none;">
                        <div class="single-album">
                            <div class="album-thumb">
                                <img src="/img/bg-img/b2.jpg" alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>Sam Smith</h5>
                                    </a>
                                    <p>Underground</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-3" style="display: none;">
                        <div class="single-album">
                            <div class="album-thumb">
                                <img src="/img/bg-img/b3.jpg" alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>Sam Smith</h5>
                                    </a>
                                    <p>Underground</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-3" style="display: none;">
                        <div class="single-album-area">
                            <div class="single-album">
                                <img src="/img/bg-img/b4.jpg" alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>Sam Smith</h5>
                                    </a>
                                    <p>Underground</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="load-more-btn text-center">
                            <a href="#" class="btn oneMusic-btn" id="load">Load More <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
    <!-- ##### Buy Now Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a href="#"><img src="/img/core-img/logo.png" alt=""></a>
                    <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Albums</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>

    <script>
$(function(){
    $("div").slice(0, 1).show(); // 초기갯수
    $("#load").click(function(e){ // 클릭시 more
        e.preventDefault();
        $("div:hidden").slice(0, 4).show(); // 클릭시 more 갯수 지정
        if($("div:hidden").length == 0){ // 컨텐츠 남아있는지 확인
            alert("게시물의 끝입니다."); // 컨텐츠 없을시 alert 창 띄우기 
        }
    });
});
</script>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get('error');
        if (error === 'true') {
            alert('권한이 없습니다.');
        }
    </script>
</body>

</html>